@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-custom-image {
  background-image: url('../../public/gym.jpg'); /* Use the correct path to your image */
  background-size: cover;
  background-position: center;
  position: relative;
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); /* Adjust the shadow properties here */
}
